/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
         url('../fonts/source-sans-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-sans-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-sans-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* Use Source Sans Pro font */
.post-full-content {
    font-family: 'Source Sans Pro',Georgia,serif;
}
.post-full-content h5 {
    font-family: 'Source Sans Pro',Georgia,serif;
}
.post-card-excerpt {
    font-family: 'Source Sans Pro',Georgia,serif;
}
.site-header-content .author-meta {
    font-family: 'Source Sans Pro',Georgia,serif;
}
.subscribe-overlay-description {
    font-family: 'Source Sans Pro',Georgia,serif;
}

/* Make the post content font size 0.3rem tinier */
.post-full-content {
    font-size: 1.9rem;
}

/* Reduce h2 size and add some bottom margin */
.post-full-content h2 {
    margin: 0.5em 0 0.5em 0;
    font-size: 3rem;
}

/* Make the thread the same width as the post */
#isso-thread {
    padding: 0 100px 0 !important;
}

@media (max-width: 1170px) {
    #isso-thread {
        padding: 5vw 7vw 0 !important;
    }
}

@media (max-width: 500px) {
    #isso-thread {
        padding: 0 !important;
    }
}
/* reduce the bottom padding of the author card */
.post-full-footer {
    padding: 3vw 0 3vw;
}

/* Reduce sticked header by 10px on desktop */
@media (min-width: 900px) {
    .floating-header {
        height: 50px;
    }
}

/* Make the first paragraph the same size as the post */
.post-template .post-content>p:first-child {
    font-size: inherit;
    line-height: inherit;
}

/* Reduce padding-bottom of the footer by 20px */
.site-footer {
    padding-bottom: 20px;
}

/* Add a bit of padding under the author name in the author card */
.author-card-name {
    padding: 0 0 5px 0;
}

/* Reduce top and bottom margins for pictures and videos by 1em */
.post-full-content img, .post-full-content video {
    margin: 0.5em auto;
}

/* Reduce top and bottom margins for code */
.post-full-content pre {
    margin: 0 0 2em;
}

/* Reduce padding top of the post header by 4vw */
.post-full-header {
    padding: 3vw 3vw 3vw;
}

/* Reduce padding top and bottom of the post header on mobile */
@media (max-width: 500px) {
    .post-full-header {
        padding: 10vw 3vw 8vw;
    }
}

/* Center the header post image */
.post-full-image {
    display: block;
    margin: auto;
}

/* Do not stretch header image */
.post-full-image img {
    height: 100% !important;
}

@media (max-width: 500px) {
    .post-full-image {
        height: 100% !important;
    }
}

/* Remove the shadows as we move up the image */
.post-full-content::before, .post-full-content::after {
    display: none;
}

/* Add padding under the header post image on mobile */
@media (max-width: 500px) {
    .post-full-content {
        padding: 30px 0 0;
    }
}

/* Fix the blog title */
.floating-header-blog-title {
    margin-right: 1px;
}

/* Fix Isso vote bar styling */

.isso-comment-footer svg {
    transform: translateY(-5px);
}

.isso-comment-footer .downvote svg {
    transform: translateY(-5px) translateX(3px);
}

.isso-comment-footer .reply {
    display: inline-block;
    transform: translateY(-2px);
}

.isso-comment-footer .votes {
    display: inline-block;
    transform: translateY(2px);
}

/* Remove margin around image caption */

.kg-image-card figcaption {
    margin: 0;
}

/* Use GitLab-like font for code blocks instead of ugly monospace */

code, kbd, pre, samp {
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
}

/* h3 and h4 have the same size */

.post-full-content h4 {
    font-size: 2.4rem;
}
